.postcode-row{
    text-align: center;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-search{
    border: 10px solid rgba(253, 127, 111, 1);
    box-shadow: 30px 20px #8bd3c7; 
    border-radius: 10px;
    padding: 50px
}