.header{
  
    color: black;
    padding: 20px;
    /*draw a solid line across the bottom*/
    margin: 20px 150px 20px 150px;
   
   
    border-bottom: 2px solid black;
    
}

/* Group 1 */

position: absolute;
width: 240px;
height: 160px;
left: 36px;
top: 25px;



/* Component 1 */

position: absolute;
left: 100%;
right: -100%;
top: 100%;
bottom: -100%;

transform: rotate(180deg);


/* Ellipse 1 */

position: absolute;
left: 100%;
right: -8.33%;
top: 87.5%;
bottom: 0%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 5 */

position: absolute;
left: 91.67%;
right: 0%;
top: 75%;
bottom: 12.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 3 */

position: absolute;
left: 83.33%;
right: 8.33%;
top: 87.5%;
bottom: 0%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 24 */

position: absolute;
left: 100%;
right: -8.33%;
top: 61.25%;
bottom: 26.25%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 9 */

position: absolute;
left: 91.67%;
right: 0%;
top: 50%;
bottom: 37.5%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 26 */

position: absolute;
left: 66.67%;
right: 25%;
top: 37.5%;
bottom: 50%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 12 */

position: absolute;
left: 83.33%;
right: 8.33%;
top: 62.5%;
bottom: 25%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 25 */

position: absolute;
left: 58.33%;
right: 33.33%;
top: 100%;
bottom: -12.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 14 */

position: absolute;
left: 75%;
right: 16.67%;
top: 75%;
bottom: 12.5%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 17 */

position: absolute;
left: 66.67%;
right: 25%;
top: 87.5%;
bottom: 0%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 20 */

position: absolute;
left: 75%;
right: 16.67%;
top: 50%;
bottom: 37.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 22 */

position: absolute;
left: 58.33%;
right: 33.33%;
top: 50%;
bottom: 37.5%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 23 */

position: absolute;
left: 66.67%;
right: 25%;
top: 62.5%;
bottom: 25%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 27 */

position: absolute;
left: 50%;
right: 41.67%;
top: 62.5%;
bottom: 25%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 28 */

position: absolute;
left: 41.67%;
right: 50%;
top: 50%;
bottom: 37.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 29 */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 62.5%;
bottom: 25%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 41.67%;
top: 36.25%;
bottom: 51.25%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 31 */

position: absolute;
left: 41.67%;
right: 50%;
top: 25%;
bottom: 62.5%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 32 */

position: absolute;
left: 16.67%;
right: 75%;
top: 12.5%;
bottom: 75%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 33 */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 37.5%;
bottom: 50%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 34 */

position: absolute;
left: 8.33%;
right: 83.33%;
top: 75%;
bottom: 12.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 35 */

position: absolute;
left: 25%;
right: 66.67%;
top: 50%;
bottom: 37.5%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 36 */

position: absolute;
left: 16.67%;
right: 75%;
top: 62.5%;
bottom: 25%;

background: #FFB55A;
transform: rotate(180deg);


/* Ellipse 37 */

position: absolute;
left: 25%;
right: 66.67%;
top: 25%;
bottom: 62.5%;

background: #FD7F6F;
transform: rotate(180deg);


/* Ellipse 38 */

position: absolute;
left: 8.33%;
right: 83.33%;
top: 25%;
bottom: 62.5%;

background: #7EB0D5;
transform: rotate(180deg);


/* Ellipse 39 */

position: absolute;
left: 16.67%;
right: 75%;
top: 37.5%;
bottom: 50%;

background: #7EB0D5;
transform: rotate(180deg);
