.dashboard-container{
    border: 5px solid rgba(253, 127, 111, 1);
    border-radius: 5px;
    padding: 2%;
    
    
    
}

.nav-bar{

}

.data-by-month-season{
    height: 300px
}

.data-by-year{
    height: 500px;
    margin-left: 100px;
   
}