
.custom-range::-webkit-slider-thumb{
    background-color: #8d5d5d;
   
}

.custom-range::-moz-range-thumb{
    background-color: #8d5d5d;
}

.custom-range::-ms-thumb{
    background-color: #8d5d5d;
}

.slider-row{
    height: 200px
}

.checkbox-container{
  display: flex;
  justify-content: center;
}

/*Range slider*/

.form-label-container{
 display: flex;
 justify-content: center;  
 margin-bottom: 10px;
 padding: 5px;

}


