@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    font-family: 'Alata', sans-serif;    
    padding:0;
    margin:0; 
    font-size: 1rem;
 
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    text-align: center;
}

.row-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}